.tabButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 0.5rem;
  position: relative;
}

.tabButton::after {
  content: "";
  position: absolute;
  inset: -0.2rem;
  opacity: 0.2;
  transition: background-color 100ms ease-in-out;
  border-radius: 999px;
}

.tabButton:hover::after {
  background-color: currentcolor;
}
